.appContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.optionContainer {
  width: 100%;
  height: 3rem;
  display: flex;
}

.frameContainer {
  width: 100%;
  background-color: var(--color-1);
  color: white;
  flex-grow: 1;
  padding: 0.5rem;
}

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --color-1: #393939;
  --color-2: #222222;
}